# ==== Maven / Java ====
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear

# Keep Maven wrapper JAR if present in modules
!**/.mvn/wrapper/maven-wrapper.jar

# ==== Build / reports ====
**/build/
**/out/
**/.gradle/
**/dependency-reduced-pom.xml

# ==== Spring / logs / temp ====
**/*.log
**/logs/
**/tmp/

# ==== IDEs ====
.vscode/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/

# ==== OS files ====
.DS_Store
Thumbs.db

# ==== Local env files ====
.env
.env.*

# ==== Docker local persistent data ====
volume/
# ==== Microservices (tracked separately) ====
ordenesservice/
pagosservice/
productservice/
eurekaserver/
cuponservice/
apigateway/
kafkasservice/